@import url(https://fonts.googleapis.com/css?family=Baloo+2:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Corben:regular,700);

/* undo default styling */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    background-color: #ffffff;
}

#navbar {
    padding: 20px 0px;
    background-color: rgba(235, 255, 174, 0.2);
    box-shadow: 0px 4px 20px #ccc;

}

.nav-center {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}

h1 {
    position: relative;
    left: 20px;
    font-size: 30px;
    font-family: 'Baloo 2';
    font-weight: 500;
    color: rgb(24, 0, 0);
    text-shadow: 3px 3px 5px #485477;
    cursor: default;
}

h1 span {
    color: rgba(128, 255, 0, 0.591);
    text-shadow: 2px 3px 5px #2c5527;
}

ul {
    display: flex;
    position: relative;
    top: 6px;
}


ul li {
    margin-right: 10px;
    padding: 3px 6px;
    font-size: 18px;
    list-style-type: none;
}

ul li:last-child {
    margin-right: 5px;
}

ul li a {
    position: relative;
    text-decoration: none;
    font-family: 'Corben';
    color: #2c5527;
}

ul li a:hover {
    color: #368c2b;
}

.page-nav {
    position: relative;
}

/* add bottom border to focus state */
.page-nav li a:focus::before {
    content: '';
    color: #368c2b;
    position: absolute;
    border-bottom: 3px solid #0c6700;
    width: 60%;
    bottom: 0;
    left: 10px;
}

/* hide hamburger button */
button {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

button i {
    font-size: 0px;
}

@media screen and (max-width: 800px) {

    .nav-center {
        flex-direction: column;
        padding: 0rem 1rem;
    }

    .page-nav {
        flex-direction: column;
        /* hide links by default at 800px screen size */
        height: 0;
        overflow: hidden;
    }

    /* property to show links when button is toggled */
    .show-links {
        height: 10rem;
    }

    h1 {
        left: 5px;
    }

    button {
        width: 35px;
        height: 30px;
        background-color: transparent;
        right: 10px;
        border: none;
    }

    button i {
        font-size: 28px;
        color: #0c6700;
    }

    .page-nav li a:focus::before {
        content: '';
        border-bottom: none;
    }
}