@import url(https://fonts.googleapis.com/css?family=Baloo+2:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Corben:regular,700);
/* undo default styling */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 30px;
}

.nav-center {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Baloo 2';
    font-weight: 500;
    color: rgb(24, 0, 0);
    text-shadow: 3px 3px 5px #485477;
}

h1 span {
    color: rgba(128, 255, 0, 0.591);
    text-shadow: 2px 3px 5px #2c5527;
}

ul {
    display: flex;
    position: relative;
    top: 6px;
}


ul li {
    margin-right: 40px;
    padding: 5px 10px;
    font-size: 24px;
    list-style-type: none;
}

ul li:last-child {
    margin-right: 10px;
}

ul li a {
    position: relative;
    text-decoration: none;
    font-family: 'Corben';
    color: #2c5527;
}

ul li a:hover {
    color: #368c2b;
}

/* add bottom border to focus state */
.page-nav li a:focus::before {
    content: '';
    color: #368c2b;
    position: absolute;
    border-bottom: 3px solid #0c6700;
    width: 60%;
    bottom: 0;
    left: 14px;
}

/* hide hamburger button */
button {
    position: absolute;
    visibility: hidden;
}